<h1>Location of IOD updated on <%= @system %> GNSS</h1>

Last
<% (1..24).each do |hour| %>
  <% if @last_hours == hour.to_s %>
    <b><%= @last_hours %></b>
  <% else %>
    <%= link_to hour, home_index_path(system: @system, last_hours: hour) -%>
  <% end %>
<% end %>
 hours. <%= link_to "All data", home_index_path(system: @system, last_hours: 10_000_000) -%>.<br/>

GNSS system: <% @systems.each do |system| %>
  <% if @system == system.to_s %>
    <b><%= @system %></b>
  <% else %>
    <%= link_to system, home_index_path(system: system, last_hours: @last_hours) -%>
  <% end %>
<% end %>
<br/>
<br/>

<div id="mapid"></div>

<script>
  var mymap = L.map('mapid').setView([0.0, 0.0], 2);
  L.control.scale().addTo(mymap);

  L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoiY2h0aXR1eCIsImEiOiJja2kzNjZ2Z20wYzlwMzBxczUzOHY1ZDZkIn0.6VWek7i1QwOwRbpI23Ynjw', {
  	maxZoom: 5,
  	attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
  		'<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
                'GNSS data from <a href="https://galmon.eu/">galmon.eu</a>, ' +
  		'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
  	id: 'mapbox/streets-v11',
  	tileSize: 512,
  	zoomOffset: -1
  }).addTo(mymap);

  function loadUpdateEvents() {
    var update_events = JSON.parse(this.response);

    for (const update_event of update_events) {
      L.circle(update_event.c, 500, {
        color: '#5f005f',
        fillColor: '#5f005f',
        fillOpacity: 0.5
      }).addTo(mymap).bindPopup(update_event.sv+" received IOD "+update_event.iod+" on "+update_event.at);
    }
  }

  function loadSatelliteVehicles () {
    var satellite_vehicles = JSON.parse(this.response);

    for (const satellite_vehicle of satellite_vehicles) {
      color = '#008000';
      if(satellite_vehicle.iod_age > 3600) {
        color = 'red';
      } else if (satellite_vehicle.iod_age > 1800) {
        color = '#ff6a00';
      } else if (satellite_vehicle.iod_age > 700) {
        color = '#cec700';
      }

      L.circle(satellite_vehicle.coord, 100000, {
        color: color,
        fillColor: color,
        fillOpacity: 0.5
      }).addTo(mymap).bindPopup("SV "+satellite_vehicle.name+" has IOD "+satellite_vehicle.iod+", "+satellite_vehicle.iod_age+" seconds old");
    }
  }

  function loadUplinkStations () {
    var uplink_stations = JSON.parse(this.response);

    for (const station of uplink_stations) {
      L.marker(station.coord, 500, {
      	color: 'red',
      	fillColor: '#e4213e',
      	fillOpacity: 0.5
      }).addTo(mymap).bindPopup(station.name+" uplink station");
      L.circle(station.coord, 7000000, {
        color: 'none',
        fillColor: '#1b00ff',
        fillOpacity: 0.1
      }).addTo(mymap)
    }
  }

  var uplink_station_xhr = new XMLHttpRequest();
  uplink_station_xhr.addEventListener('load', loadUplinkStations);
  uplink_station_xhr.open('GET', '<%= api_uplink_stations_path(system: @system).html_safe %>');
  uplink_station_xhr.send();

  var satellite_vehicles_xhr = new XMLHttpRequest();
  satellite_vehicles_xhr.addEventListener('load', loadSatelliteVehicles);
  satellite_vehicles_xhr.open('GET', '<%= api_satellite_vehicles_path(system: @system).html_safe %>');
  satellite_vehicles_xhr.send();

  var update_events_xhr = new XMLHttpRequest();
  update_events_xhr.addEventListener('load', loadUpdateEvents);
  update_events_xhr.open('GET', '<%= api_update_events_path(system: @system, last_hours: @last_hours).html_safe %>');
  update_events_xhr.send();
</script>
<table>
  <thead>
    <tr><th>Name</th><th>Lat/long</th><th>IOD</th><th>IOD age</th><th>Last update</th></tr>
  </thead>
  <tbody>
    <% @svs.each do |sv| %>
      <tr class="<%= sv.css_class %>">
        <td><%= sv.name %></td>
        <td><%= sv.latitude %>, <%= sv.longitude %></td>
        <td><%= sv.iod %></td>
        <td><%= time_ago_in_words(sv.last_iod_update, include_seconds: true) %></td>
        <td><%= time_ago_in_words(sv.updated_at, include_seconds: true) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
