// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
table, td, th {
  border: 1px solid black;
  padding: 5px;
}

table {
  width: 730px;
  border-collapse: collapse;
  margin: 10px;
}

#mapid { height: 800px; }

.stale-3600 {
  background-color: red;
  color: white;
}
.stale-1800 {
  background-color: #ff6a00;
}
.stale-700 {
  background-color: #cec700;
}
